<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
</head>
<body>
    <%-include('../inc/Top.ejs') %>
    <hr />
    <div class="container">
        <h2>상품 삭제</h2>
        <table class="table">
            <tr>
                <th>ID</th>
                <td><%=car._id %></td>
            </tr>
            <tr>
                <th>NAME</th>
                <td><%=car.name %></td>
            </tr>
            <tr>
                <th>PRICE</th>
                <td><%=car.price %></td>
            </tr>
            <tr>
                <th>YEAR</th>
                <td><%=car.year %></td>
            </tr>
            <tr>
                <th>COMPANY</th>
                <td><%=car.company %></td>
            </tr>
        </table>
        <hr/>
        <h2>위 내용의 상품을 삭제 하겠습니까?</h2>
        <a href="/shop/delete?_id=<%=car._id%>&reply=yes">삭제 </a>|
        <a href="/shop/delete?_id=<%=car._id%>&reply=no"> 취소</a>
        <%-include('./ShopNav.ejs') %>
    </div>
</body>
</html>